.App {
  background-color: #282c34;
  min-height: 100vh;
  padding: 40px;
  font-size: 28px;
  color: white;
  text-align: center;
  overflow: auto;
}

header {
  margin: auto;
  width: 500px;
}

.button-group {
  display: flex;
  height: 40px;
  margin-bottom: 1em;
}

.button-group button {
  flex: 1;
}

.flag {
  color: red;
  position: absolute;
}

.mine {
  color: red;
  font-size: 20px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  width: 1200px;
  margin: auto;

  font-size: 14px;
  color: black;
}

.tile {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 40px;
  width: 40px;
  border: 0.5px solid black;
  background-color: white;
  cursor: default;
  user-select: none;
}

.hidden.tile::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #a9b0ba;
}
